body{
    background-color: #121B3A; /* Fully opaque */
    color: white; /* All text is white by default, unless overridden! */
    font-family: Helvetica, sans-serif; /* All text is Helvetica sans-serif for now... */

}

/* Header Style */
header{
    font-size: 40px;
    font-weight: bold;
    margin: 20px 20px 5px 20px; /* Top Right Bottom Left */
}

/* Paragraph Style */
p{
   margin-left: 20px;
   margin-bottom: 20px;
}

/* Container to hold visualizations */
/* Container to hold visualizations */
.row{
    background-color: #404c79;
    width: 95%;
    height: auto;
    padding: 1em;
    border: dashed red;
    margin: 10px;
}

map-graph{
    width: 100px;
    border: solid lime;
}

plot-cell{
    font-weight: bold;
    border: solid lime;
    background-color: white;
}