:root {
    --primary:#121B3A;
    --secondary:#1D2D68;
    --third:#007eff;
    --fourth:#ebf5ff;
}
body{
    background-color: var(--primary); /* Fully opaque */
    color: var(--third); /* All text is white by default, unless overridden! */
    font-family: Courier New, sans-serif; /* All text is Helvetica sans-serif for now... */
}

text{
    color: var(--third); /* All text is white by default, unless overridden! */
    font-family: Courier New, sans-serif; /* All text is Helvetica sans-serif for now... */
}

/* Header Style */
header{
    font-size: 40px;
    font-weight: bold;
    margin: 20px 20px 5px 20px; /* Top Right Bottom Left */
}

/* Paragraph Style */
p{
   margin-left: 20px;
   margin-bottom: 20px;
}

/* Container to hold visualizations */
/* Container to hold visualizations */
.row{
    width: 95%;
    height: auto;
    /*border: dashed red;*/
    margin: 10px;
}

.flexible {
    display: flex;
    flex: 1;
}
.left{
    width: 60%;
    //border: solid lime;
}

.right.column{
    margin-left: 20px;
    width: 30%
    max-width: 30%;
    font-weight: bold;
    /*border: solid yellow;*/
    /* background-color: white;*/
}
.cell {
    background-color: var(--secondary); /* Land color */
    /*border-radius: 10px;*/
}

#selector-div{
    margin-bottom: 20px;
    padding: 5px;
    background:
}

/* Disable trace name */
g.hoverlayer text.name {
    display: none;
}

/* Disable trace name box */
g.hoverlayer rect {
    display: none;
}

.Select-control {
  background-color: var(--primary) !important;
}

.Select-menu-outer {
  background-color: var(--primary);
}