:root {
    --primary:#121B3A;
    --secondary:#1D2D68;
    --third:#007eff;
    --fourth:#ebf5ff;
    --fifth: #96dbfa; /* light default slider blue */
}

text {
    font-family: Courier New, sans-serif !important;
}

body{
    background-color: var(--primary); /* Fully opaque */
    color: var(--third); /* All text is white by default, unless overridden! */
    font-family: Courier New, sans-serif; /* All text is Helvetica sans-serif for now... */
}

text{
    color: var(--third); /* All text is white by default, unless overridden! */
    font-family: Courier New, sans-serif; /* All text is Helvetica sans-serif for now... */
}

/* Header Style */
header{
    font-size: 40px;
    font-weight: bold;
    margin: 20px 20px 5px 20px; /* Top Right Bottom Left */
}

/* Paragraph Style */
p {
   margin-left: 20px;
   margin-bottom: 20px;
}
h5 {
   padding: 20px;
}

/* Container to hold visualizations */
/* Container to hold visualizations */
.row{
    width: 95%;
    height: auto;
    /*border: dashed red;*/
    margin: 10px;
}

.flexible {
    display: flex;
    flex: 1;
}
.left{
    width: 60%;
    //border: solid lime;
}

.right.column{
    margin-left: 20px;
    width: 30%
    max-width: 30%;
    font-weight: bold;
    /* border: solid yellow;*/
    /* background-color: white;*/
}
.cell {
    background-color: var(--secondary); /* Land color */
    /*border-radius: 10px;*/
    margin-bottom: 20px;
}

#dropdown-div, #selector-div{
    margin-bottom: 20px;
    padding: 10px;
    background:
}

/* Disable trace name */
g.hoverlayer text.name {
    display: none;
}

/* Disable trace name box */
g.hoverlayer rect {
    display: none;
}

.Select-control {
  background-color: var(--primary) !important;
}

.Select-menu-outer {
  background-color: var(--primary);
}
.rc-slider-mark-text-active{
    color:var(--third);
}
g.xtick text, g.ytick text {
    fill: var(--third) !important;
    font-family: Courier New !important;

}
.main-svg g.bglayer rect {
    fill: var(--secondary) !important;
    //fill-opacity: 0 !important;
}

g.barlayer.mlayer g.trace.bars g.point path {
    fill: var(--third);
}

.Select-value-label {
    color: var(--third) !important;
}

#footer-div {
    margin-top: -10px;
}

.footer.left.cell {
    width: 80%;
    margin-right: 20px;

}
.footer.right.cell {
    flex: 1;
}

#country-viz {
    display: flex;
}

#country_flag {
    width: 100%;
}

#flag-container {
    padding-left: 30px;
    width: 400px;
    margin: auto;
    margin-left: 0;
    margin-right: 50px;
}

#table-container {
    padding-left: 50px;
}

#flag-legend {
    text-align: center;
    height: 30px;
}

#country-div {
    padding: 30px;
    padding-top: 0px;
    max-width: 50%
}

h5 {
    padding-bottom: 0;
}

p {
    margin: 20px;
}

ol {
    margin: 20px
}

tr:hover {
    background-color: var(--primary);
    color:var(--fourth);
}